@font-face {
  font-family: 'Avenir';
  src: url('@/assets/fonts/Avenir.ttc') format('truetype');
}

@font-face {
  font-family: 'ITC Avant Garde Gothic Pro';
  src: url('@/assets/fonts/ITCAvantGardePro-Bk.otf') format('opentype');
  src: url('@/assets/fonts/ITCAvantGardePro-Bold.otf') format('opentype');
  src: url('@/assets/fonts/ITCAvantGardePro-Demi.otf') format('opentype');
  src: url('@/assets/fonts/ITCAvantGardePro-Md.otf') format('opentype');
}
